@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'DynaPuff', cursive;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/lua.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    height: 200px;
    width: 550px;
    border-radius: 5px;
    box-shadow: 5px 10px 15px black;
}

.relogio div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: #fff;
    height: 170px;
    width: 150px;
    box-shadow: 5px 5px 15px black;
}

.relogio span {
    font-weight: bold;
    font-size: 100px;
}

.relogio span.tempo {
    font-size: 20px;
}